.heading {
  color: $black;
  display: inline-block;
  font-weight: bold;
  position: relative;
  width: fit-content;
}

.small {
  font-size: 1.6rem;
  font-weight: 200;
}

.medium {
  font-size: 3.6rem;
}

.large {
  font-size: 5rem;
}

.xLarge {
  font-size: 8rem;
}

.underline {
  line-height: 1;
  &::after {
    content: "";
    display: block;
    background-color: $black;
    bottom: -4px;
    height: 4px;
    position: absolute;
    width: 360px;

    @include mq-small {
      height: 2px;
      width: 200px;
    }
  }
}

.vertical {
  writing-mode: vertical-rl;
}