.container {
  color: $white;
  padding: 140px 100px;

  @include mq-small {
    padding: 140px 20px;
  }
}

.section {
  &:not(:last-child) {
    margin-bottom: 40px;
  }

  > * {
    margin-bottom: 20px;
  }
}

.icons {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.iconText {
  font-size: 1.2rem;
  margin-top: 10px;
}

.email {
  font-size: 1.6rem;
}
