.container {
  height: 100vh;
  min-height: 100vh;
}

.headingArea {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  @include mq-small {
    margin-bottom: 320px;
  }
}

.content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-end;

  @include mq-small {
    align-items: flex-end;
  }
}

.left {
  left: 100px;
  padding-top: 60px;
  position: absolute;

  @include mq-small {
    left: 30px;
    margin-top: -40px;
  }
}


.icons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 200px;
}

.text {
  color: $black;
  font-size: 1.4rem;
  font-weight: 200;
  margin-bottom: 40px;
}

.person {
  height: 100vh;
  object-fit: contain;
  width: 80%;

  @include mq-small {
    margin-top: -40px;
    width: 100%;
  }
}

.circle {
  position: fixed;
  right: 0;
  bottom: 0;
}

.triangle {
  position: fixed;
  right: 0;
  top: 0;

  @include mq-small {
    display: none;
  }
}

.sideline {
  position: fixed;
  left: 0;
  top: 0;
  transform-origin: top left;

  @include mq-small {
    display: none;
  }
}

.circle,
.triangle,
.sideline
{
  @include mq-small {
    transform: scale(0.8);
  }
}

.triangle {
  transform-origin: right top;
}

.circle {
  transform-origin: right bottom;
  display: none;
}