.container {
  background-color: $red_light;
  height: 100vh;
  min-height: 700px;
  padding-left: 100px;
}

.topArea {
  display: flex;
  position: absolute;
}

.navArea {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.headingArea {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.left {
  padding-top: 60px;
}

.logo {
  margin-right: 100px;
  width: 80px;
}

.icons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 200px;
}

.text {
  color: $white;
  font-size: 1.4rem;
  font-weight: 200;
  margin-bottom: 40px;
}

.person {
  height: 100vh;
  object-fit: contain;
  width: 80%;
}

.circle {
  position: fixed;
  right: 0;
  bottom: 0;
}

.triangle {
  position: fixed;
  right: 0;
  top: 0;
}

.sideline {
  position: fixed;
  left: 0;
  top: 0;
}